.node {
    margin-left: 1em;
  }
  
  .numberCircle {
  
      display: inline-block;
      background: white;
      border: 1px solid #555;
      border-radius: 50%;
      position: relative;
      display: flex;
      width: 22px;
      height: 22px;
      justify-content: center;
      align-items: center;
  
  }
  /*.numberCircle:after {
      content: "";
      position: absolute;
      width: 1px;
      height: 24px;
      background: #d4d4d4;
      top: 21px;
      left: 9.5px;
  }
  
  .completed-line:after {
      content: "";
      position: absolute;
      width: 1px;
      height: 24px;
      background: green !important;
      top: 21px;
      left: 9.5px;
  }*/
  
  .item-text_neutral {
      font-size: 15px;
      font-weight: bold;
  }
  
  .item-selected_text {
      color: #000080;
  }
  
  .pointer {
      cursor: pointer;
  }
  
  .item-selected_order {
      border-color: #F06822;
      background: #F06822;
      color: white;
  }
  
  .item-completed_text {
      color: green;
  }
  
  .item-completed_order {
      border-color: green;
      background: green;
      color: white;
      padding: 1px 4px;
  }